<!-- <input type="text" #demo (keyup)="0">
<button (click)="getVal(demo)">getValue</button> -->
<!-- 
<input type="text" #ptext (keyup)="0">
<app-screen2 [parentData]="ptext.value"></app-screen2> 
<!-- <input type="text"  class="form-control"  (keyup.enter)="OnInput($event)" >
 -->
 <!-- <form>
<input type="text" [(ngModel)]="myInput">
</form>
<h1>{{myInput}}</h1> -->
<!-- <form (submit)="onsubmit()"> <input type="text" [(ngModel)]="playerName"></form> -->
<!-- <input type="text" (keyup)="onKey($event)" value="asha"> -->
<h3>Input fild</h3>
<input type="text" pInputText [(ngModel)]="value1"> 
<br><br>
<span class="p-ml-2">{{value1}}</span>
<br><br><br>
<h1>get value on other screen</h1>
<input class="Button" type="text" #demo (keyup)="0">
<br><br>
<p-button (click)="getVal(demo)">Submit</p-button>
<!-- <h1>{{a}}</h1> -->

<!-- <input type="text" #ptext (keyup)="0">
<div [parentData]="ptext.value"></div> -->