<p-toolbar>
    <div class="logo">
        <img src="/assets/logo.png">
    </div>
    <div class="p-d-flex">
    
    <p-button><a class="linkButton" routerLink='/home'>Home</a></p-button>
    <p-button><a class="linkButton" routerLink='/performance'>Performance</a></p-button>
    <p-button><a class="linkButton" routerLink='/contact'>Contact</a></p-button>
    <p-button><a class="linkButton" routerLink='/blank' id="#bgf">Blank</a></p-button>
    </div>
</p-toolbar>

