<div class="card">
    <p-splitter [style]="{'height': '667px'}" styleClass="p-mb-5">
        <ng-template>
            <div class="p-col p-d-flex p-ai-center p-jc-center">
               <h1>{{name1}}</h1>
              <h2> 
               <span class="p-ml-2">{{value1}}</span>
             </h2>
             <!-- {{parentData}} -->
             
    </div>
        </ng-template>
        <ng-template>
            <div class="p-col p-d-flex p-ai-center p-jc-center">
                <h1>{{name2}}</h1>
                <!-- <input type="text" #ptext (keyup)="0">
                <app-screen2 [parentData]="ptext.value"></app-screen2> -->
               <div *ngIf="enabletext">
                <h3>Input fild</h3>
                <input type="text" pInputText [(ngModel)]="value1"> 
                <app-nav-button></app-nav-button>
                </div>
            </div>
        </ng-template>
    </p-splitter>
</div>